.light-mode {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: black;
    color: whitesmoke;
}

.theme-button {
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}